@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.name-box{
    display: grid;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
    transition: all 500ms linear;
}

.name-box div {
    display: inline-flex;
    padding: 5px;
}

.title{
    margin: 0px 100px 0px 100px;
}

.tagline{
    margin: 0px 0px 0px 100px;
}

.title span{
    font-size: 7vw;
    font-weight: bold;
}

.tagline span{
    font-size: 3vw;
}

.name {
    color: black;
}

.greeting {
    color: grey;
    padding-right: 2vw;
}

.tag-start{
    padding-right: 1vw;
}

#tag{
    color: gold;
}

.up-button{
    width: 48px;
    height: 48px;
}

.toggle-button{
    display: block;
}

#bottom-bar {
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: -150px;
    background-color:gold;
    transition: all 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-box.active {
    margin-bottom: 150px;
}

#bottom-bar.active {
    bottom: 0px;
}

#bottom-bar .toggle-button {
    position: absolute;
    bottom: 150px;
}

.social-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.social-logo {
    width: 32px;
    height: 32px;
    margin: 15px;
}

.bottom-container{
    display: block;
    width: 100%;
}

.bottom-container div {
    text-align: center;
}

.talk-line{
    padding: 10px;
}

@media (max-width: 720px) {

    .social-media{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #bottom-bar .toggle-button {
        bottom: 200px;
    }
    
    #bottom-bar {
        position: fixed;
        width: 100%;
        height: 200px;
        bottom: -200px;
    }
    
    #name-box.active {
        margin-bottom: 200px;
    }

    .title span{
        font-size: 70px;
        font-weight: bold;
    }
    
    .tagline span{
        font-size: 35px;
    }

    .title{
        display: block;
        margin: 0px 40px 0px 40px;
    }
    
    .tagline{
        display: block;
        margin: 0px 40px 0px 40px;
    }
    
    .name-box div {
        display: block;
        padding: 5px;
    }
    
    .greeting{
        display: block;
    }

    .name{
        display: block;
    }

    .tag-start{
        display: block;
    }

    .tag{
        display: block;
    }
}